html {
    margin: 0;
    background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
}

body {
    margin: 0;
    background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#alph { /* generate the first row of grid with letters? */
    display: flex;
    gap: 24px;
    margin-left: 27px;
}

#secondAlph {
    display: flex;
    gap: 24px;
    margin-left: 82px;
}

#secondNum {
    margin-left: 7px;
}

#box {
    display: flex;
    justify-content: center;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#secondGrid {
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.p1 {
    border-color: black;
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
}

.p2 {
    border-color: black;
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
}

#p1:hover {opacity: 0.8;}
#p2:hover {opacity: 0.8;}

#one {
    margin-top: 8px;
    margin-bottom: 15px;
}

#third{
    margin-top: 15px;
    margin-bottom: 15px;
}

#fith{
    margin-top: 15px;
    margin-bottom: 15px;
}

#seventh{
    margin-top: 15px;
    margin-bottom: 15px;
}

#ninth {
    margin-top: 15px;
    margin-bottom: 15px;
}

#ships {
    border-radius: 4px;
    background-color:  #5ac8fa;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  #ships span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  #ships span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #ships:hover span {
    padding-right: 25px;
  }

  #ships:hover span:after {
    opacity: 1;
    right: 0;
  }